<h1>Help</h1>

<p>
Get help on the Ruby on Rails Tutorial on the 
<a href="www.google.com">Rails Tutorial Help Page</a>
To get Help on this Sample app, see the
<a href="www.google.com">Rails Tutorial Help Page</a>
</p>